$white: #fff;
$black: #000;
$default-font-size: 13px;
$break-small: 600px;
$block-class: wp-block-related-posts-by-taxonomy-related-posts-block;

.#{$block-class}.rpbt-html5-gallery .related-gallery {
	display: flex;
	flex-wrap: wrap;
	list-style-type: none;

	.gallery-item {
		margin: 8px;
		display: flex;
		flex-grow: 0;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		position: relative;

		img {
			display: block;
			max-width: 100%;
			height: auto;
			margin: 0 auto;
		}

		figcaption {
			padding-top: 1em;
			text-align: center;
			font-size: $default-font-size;
			width: 100%;
		}
	}

	// Responsive fallback value, 2 columns
	
	.gallery-item {
		width: calc( 100% / 2 - 16px );
	}

	&.gallery-columns-0 .gallery-item,
	&.gallery-columns-1 .gallery-item {
		width: calc(100% / 1 - 16px);
	}

	@media ( min-width: #{ ( $break-small ) } ) {
		@for $i from 3 through 8 {
			&.gallery-columns-#{ $i } .gallery-item {
				width: calc(100% / #{ $i } - 16px );
			}
		}
	}
}

.#{$block-class} {
	ul {
		padding-left: 2.5em;
	}

	.components-placeholder__fieldset {
		max-width: none;

		.instructions ul{
			text-align: left;
			padding: 0;
			display: inline-block;
			margin: auto;
		}

		div {
			padding: 1em 1.5em 0;
			width: 100%;
		}
	}

	&.components-placeholder {
		min-height: 100px;
	}
}

.#{$block-class}-inspector-controls {
	padding-top: 16px;
}

body.rtl .#{$block-class} {
	ul {
		padding-right: 2.5em;
	}

	.components-placeholder__fieldset {
		.instructions ul {
			text-align: right;
		}
	}
}
