<phpunit
	bootstrap="tests/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	>
	<testsuites>
		<testsuite>
			<file>tests/test-misc.php</file>
			<file>tests/test-functions.php</file>
			<file>tests/test-shortcode.php</file>
			<file>tests/test-widget.php</file>
			<file>tests/test-functions-thumbnail.php</file>
			<file>tests/test-debug.php</file>
			<file>tests/test-cache.php</file>
			<file>tests/test-deprecated.php</file>
			<file>tests/test-uninstall.php</file>
		</testsuite>
	</testsuites>
</phpunit>